.logo {
  fill: var(--color-neutral-200);
  transition: fill 400ms ease;
  cursor: pointer;
}

.logo_inner {
  fill: var(--color-primary-400);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .logo_inner {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: bottom;
}
